<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Document</title>
</head>
<body>
    <h2>Today's special: $0.00</h2>
            
            <form id = "ticket" method = "POST">
                <label>Seat No.</label>
                <input name="seat" required pattern="[A-F][1-9]\d?"><br>

                <label>Ticket is free, but we accept donations!</label>
                <input name="price" placeholder="$0.00"><br>


                <button type="submit">Add ticket!</button>
            </form>

</body>
</html>